/** Fonts **/
@import url('roboto.css');



/** Preloader **/
.dots img {
  width: 200px;
}

.dots {
  position: relative;
  font-family: sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 1.1em;
  letter-spacing: 4px;
  overflow: hidden;
  background: linear-gradient(90deg, #d6bf31, #fff, #d6bf31);
  background-repeat: no-repeat;
  background-size: 80%;
  animation: animate 3s linear infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
}

@keyframes animate {
  0% {
    background-position: -500%;
  }

  100% {
    background-position: 500%;
  }
}

/** Header **/
.header-flex-container {
  display: flex;
  justify-content: center;
  padding: 0.2em;
  background-color: #f9f7f7;
}

#top-header-One {
  position: relative;
  font-family: 'Roboto', sans-serif;
  /**text-transform: uppercase;**/
  font-size: 1em;
  letter-spacing: 2px;
  overflow: hidden;
  background-color: #f9f7f7;
  color: #3b3737;
  -moz-transform: translateX(170%);
  -webkit-transform: translateX(170%);
  transform: translateX(170%);

  -moz-animation: my-animation 15s linear infinite;
  -webkit-animation: my-animation 15s linear infinite;
  animation: my-animation 15s linear infinite;
}

/* for Firefox */
@-moz-keyframes my-animation {
  from {
    -moz-transform: translateX(170%);
  }

  to {
    -moz-transform: translateX(-170%);
  }
}

/* for Chrome */
@-webkit-keyframes my-animation {
  from {
    -webkit-transform: translateX(170%);
  }

  to {
    -webkit-transform: translateX(-170%);
  }
}

@keyframes my-animation {
  from {
    -moz-transform: translateX(170%);
    -webkit-transform: translateX(170%);
    transform: translateX(170%);
  }

  to {
    -moz-transform: translateX(-170%);
    -webkit-transform: translateX(-170%);
    transform: translateX(-170%);
  }
}

.top-header-nav .nav-link.active::after {
  content: "";
  border-bottom: 3px solid #d6bf31;
  display: none;
  position: relative;
  top: -5px;
}

/**Hero Slider **/
.slider-counter {
  position: absolute;
  top: 5%;
  z-index: 2;
  margin-top: 0px;
  width: 100%;
}

.slider-counter div.counter-wrapper {
  padding: 20px 20px;
  background-color: transparent;
}

.currency {
  line-height: 1;
  color: #fff;
  font-size: 35px;
  font-weight: 600;
}

.slider-counter-box .counter,
.slider-counter .currency {
  font-size: 35px;
}

.counter-box-odd {
  background-color: rgb(69, 30, 93);
  justify-content: space-around;
  padding-bottom: 10px;
  padding-top: 10px;
  /**border: 1px solid rgb(255, 255, 255);**/
  /**border-radius: 15px;**/
}

.counter-box-even {
  background-color: rgb(102, 27, 147);
  justify-content: space-around;
  padding-bottom: 10px;
  padding-top: 10px;
  /**border: 1px solid rgb(255, 255, 255);**/
  /**border-radius: 15px;**/
}

.counter-box .currency-amount {
  display: inline;
}
.grid-counter-box {
  padding: 20px 10px;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
.grid-counter-box .slider-icon, .grid-counter-box .slider-icon-text {
  display: inline-block;
}
.grid-counter-box .slider-icon-text .counter, .grid-counter-box .slider-icon-text .title  {
  color: #fff;
}
.grid-counter-box .slider-icon-text {
  float: right;
} 

.slider-icon-text {
  text-align: right;
}

.slider-icon-text .title {
  font-size: 15px;
  font-weight: 400;
}

.slider-icon {
  color: #fff;
  font-size: 30px;
  padding-bottom: 25px;
}

.hero-single {
  height: 600px;
}

#slider-text {
  position: absolute;
  top: 30%;
  right: 15%;
  z-index: 2;
  padding-top: 0.5em;
  padding-bottom: 1em;
}

#slider-text .hero-title {
  color: #fff;
  font-size: 3em;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 5px 30px;
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
}

#slider-text h1.typewriter {
  font-family: 'Roboto', sans-serif;
  white-space: nowrap;
  color: #fff !important;
  background-color: #8f4ab9;
padding: 5px 30px;
font-size: 2.3em !important;
/**border-radius: 25px;**/
}

.slider-sub-title {
  color: #fff;
  font-size: 1.2rem;
  width: fit-content;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 5px 20px;
}
.hero-title-div {
  text-align: center;
}
.hero-title-div h1 {
  width: fit-content;
  margin: 10px auto;
}

/**Counter Section **/
#counter-section {
  position: relative;
  z-index: 2;
  margin-top: 70px;
  background-color: #fbf4ff;
}

/** Advertisers-Operators **/
.cta-text-two {
  font-size: 18px;
}

/** Partner **/
#partners-slide {
  position: relative;
  z-index: 3;
}
section div.bg-new {
  background-color: #fff;
}

/** Why Choose Us **/
#why-choose-us {
  background-color: #661b93;
  background-image: url(../img/about/why.jpg);
  background-size: cover;
  /**background-attachment: fixed;**/
}
#why-choose-us::before {
   content: "";
   background-color: rgba(255, 255, 255, .9);
   height: 100%;
   width: 100%;
   position: absolute;
}

/** Category **/
#category-section {
  background-color: #fbf4ff;
}




/** Responsive CSS **/
@media (max-width: 991px) {
  body {
    font-size: 14px;
  }

  /** Header **/
  .header-flex-container {
    display: none;
  }

  .top-header-nav .nav-link.active::after {
    content: "";
    border: none;
  }

  /** Hero Slider **/
  .grid-counter-box {
    padding: 5px 5px;
    display: flex;
    justify-content: space-around;
  }
  .typewriter {
    font-size: 1.5em !important;
  }
  .slider-icon {
    font-size: 20px;
  }
  .slider-counter-box .counter, .slider-counter-box .currency {
    font-size: 20px;
  }
  .slider-icon-text .title {
    font-size: 10px;
    font-weight: 900;
  }
  .owl-nav {
    display: none;
  }

  #slider-text {
    width: 100%;
    top: 30%;
    right: 0;
    text-align: center;
  }

  #slider-text .hero-title {
    font-size: 2em;
  }
  #slider-text h1.typewriter {
    font-size: 1.5em !important;
  }

  .slider-sub-title {
    font-size: 1rem;
  }

  .site-title {
    font-size: 1.3em;
  }

  .slider-counter {
    /**display: none;**/
  }

  /** Advertisers-Operators **/
  .cta-text-two h1 {
    font-size: 1.5em;
  }

  .cta-text-two {
    font-size: 1em;
  }

  /** Slider Search Bar **/
  .home-3 .search-area {
    margin-top: -200px;
  }
  .theme-btn {
    font-size: 14px;
    padding: 10px 20px;
  }

  /** Breadcrumb **/
.site-breadcrumb .breadcrumb-title {
  font-size: 30px;
}
.login-form .login-header p {
  font-size: 16px;
}

/**Counter Section **/
#counter-section {
  margin-top: 30px;
}

/** Category **/
h4.category-title {
  font-size: 15px;
}

 /** Footer**/
 .footer-logo img {
  width: 150px;
 }
 .copyright .copyright-text {
  font-size: 14px;
 }
}